@model AirWings.Models.Register

@{
    ViewData["Title"] = "Register";
}

<h4 class="text-primary">Register</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Psword" class="control-label"></label>
                <input asp-for="Psword" type="password" class="form-control" />
                <span asp-validation-for="Psword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" type="email" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
                <a asp-action="Index" class="float-right">Login</a>
            </div>
            <div>
                @{
                    if (ViewBag.Registrationstatus != null)
                    {
                        <label class="text-danger">
                            @ViewBag.Registrationstatus
                        </label>
                    }
                }
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
